:root{
    --mainFont:'Times New Roman','Gill Sans',sans-serif;
    --authFormBackground:#6F42C1;
}

body{
    font-family: var(--mainFont);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body, h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote,dl, dt, dd,figure, fieldset {
  margin: 0;
  padding: 0;
}

h3{
    margin: 10px 0px;
}

h2{
    text-align: center;
    margin: 20px 0px;
}

main{
    width: 100%;
}


button{
    border: none;
}

ul{
    list-style-type: none;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width:80%;
    justify-self: center;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-direction-column{
    flex-direction: column;
}

.flex{
    display:flex;
}

.align-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.error{
    color: rgb(197, 0, 0);
    font-weight: bold;
    align-self: flex-start;
    margin-top: -20px;
}

.form-button{
    color: white;
    background-color: black;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    transition: all 0.6s;
    font-size: 20px;
    cursor: pointer;
}

.form-button:hover{
    width: 140px;
}

.form-style{
    align-items: center;
    gap:40px;
    border-radius: 20px;
}

.controls{
    gap:20px;
    align-items: center;
}

.controls a{
    color:white;
    font-size: 20px;
    transition: all 0.6s;
}

.controls a:hover{
    font-size: 22px;
}

.form-style input, .form-style label, .form-style textarea{
    font-size: 20px;
}

.form-style textarea{
    resize: vertical;
}
.form-style textarea,.form-style input{
    width: 250px;
    border-radius: 20px;
}

.form-style input{
    width: 250px;
    height: 30px;
}

.form-style .field{
    align-items: center;
    justify-content: space-between;
    gap:10px;
    width: 100%;
}

.justify-center{
    justify-content: center;
}

 @media screen and (max-width: 600px){
    .container {
        width: 90%;
    }
 }

  @media screen and (max-width: 550px){
    .form-style input {
        width: 100%;
    }
 }

/*.......................Animation.........................*/

.right-left{
    animation: to-left 1s forwards;
    transform: translateX(50%);
}

@keyframes to-left {
    to{
        opacity:1;
        transform: translateX(0);
    }
}