.carousel-wrapper{
  justify-content: center;
  width: 100%;
}
.carousel {
  position: relative;
  width: 100%;
  border-radius: 10px;
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  overflow: hidden;
   height: 500px;
  width: 800px;
}

.carousel img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 10px;
}

.controls svg{
  cursor: pointer;
}


