.tasks{
    width: 100%;
    flex-direction: column;
    justify-self: center;
    flex-wrap: wrap;
    margin: 10px;

    @media screen and (max-width:1000px) {
        width: 100% !important;
    }

    .filter{
        align-self: flex-end;
    }

    .card{
        width: 200px;
        height: 250px;
        margin: 10px 0px;
        border-radius: 20px;
        transition: all 0.5s;
        flex-direction: column;
        cursor: grab;
        transition: all 0.2s;

        &:active{
            cursor: grabbing;
            user-select: none;
            box-shadow:  0 4px 12px 0 rgba(0, 0, 0, 0.4);
            opacity: 0.5;
        }

        .drag-icon{
            width: 90%;
            justify-content: flex-end;
        }

        p{
            font-weight: 600;
        }

        h2{
            font-family: var(--taskFont);
        }
        font-family: var(--taskFont);

        input[type="checkbox"]{
            width: 20px;
            height: 20px;
        }

        svg{
            cursor: pointer;
        }
        
        &:hover{
            transform: scale(1.04);
        }
    }

    .create{
        cursor: pointer;
    }

    .options{
        align-self: flex-end;
        width: 100%;
        margin-top: 30px;
        gap:10px;

        button{
            background: none;
        }
        @media screen and (max-width: 1000px) {
            align-self: center;
        }
    }

    .tasks-list{
        justify-content: flex-start;
        width: 100%;
        gap:25px;
        margin: 30px 0px;

        @media screen and (max-width:1000px) {
            justify-content: center;
        }
    }
}

